.AppInfo{
  text-align: center;
  display: flex;
  margin-left:30%;
  
}

.profileSection{
  border-right: 1px solid lightgray;
  padding-right: 15%;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
